{% extends "base.html" %}
{% block title %}Ticket - {{ ticket.id }}{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
    <link rel="shortcut icon" href="">

    
    <!-- Custom fonts for this template-->
    <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="static/css/sb-admin-2.min.css" rel="stylesheet">

{% endblock %}
{% block content %}
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-left">
                        <h1 class="h3 mb-0 text-gray-800">Ticket - {{ ticket.id }}</h1>
                    </div>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">


                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{ current_user.first_name +' '+ current_user.last_name }}</span>
                                <img class="img-profile rounded-circle"
                                    src="static/img/undraw_profile.svg">
                            </a>
                            
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    {% if current_user.user_type == 1 or current_user.admin == 1 %}
                    <form method="POST" action="update_ticket">

                    <!-- Content Row -->
                    <div class="row">
                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-sm-1'>ID:</div> 
                                <div class='col-sm-1'>
                                    <input readonly class='form-control' type="ticket_id" name="ticket_id" id="ticket_id" value='{{ ticket.id }}'></input>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-sm-1'>Title:</div> 
                                <div class='col-sm-5'>
                                    <input class='form-control' type="ticket_title" name="ticket_title" id="ticket_title" value="{{ ticket.title }}"></input>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-sm-1'>Overview:</div> 
                                <div class='col-lg-10'>
                                    <textarea  class='form-control' type="ticket_overview" name="ticket_overview" id="ticket_overview" rows='2'>{{ ticket.overview }}</textarea>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-sm-1'>Special Requirements:</div> 
                                <div class='col-lg-10'>
                                    <textarea  class='form-control' type="special_requirements" name="special_requirements" id="special_requirements" rows='2'>{{ ticket.special_requirements }}</textarea>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-sm-1'>Owner:</div> 
                                <div class='col-sm-2'>
                                    <input readonly class='form-control' type="owner_name" name="owner_name" id="owner_name" value="{{ ticket.owner_user.first_name }} {{ ticket.owner_user.last_name }}"></input>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-sm-1'>Assigned Developer:</div> 
                                <div class='col-sm-2'>
                                    <select class="custom-select mr-sm-1" name='assigned_user' id="assigned_user">
                                        {% if ticket.assigned_user != None %}
                                            <option value="{{ ticket.assigned_user.id }}">{{ ticket.assigned_user.first_name }} {{ ticket.assigned_user.last_name }}</option>
                                            {% else %}
                                            <option value="">Please Assign a Developer</option>
                                        {% endif %}
                                        {% for developer in developers %}
                                            <option value="{{ developer.id }}">{{ developer.first_name }} {{ developer.last_name }}</option>
                                        {% endfor %}
                                    </select>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-sm-1'>Task Review:</div> 
                                <div class='col-sm-10'>
                                    <textarea class='form-control' type="task_review" name="task_review" id="task_review" row='3' value=""></textarea>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-sm-1'>Current Status:</div> 
                                <div class='col-lg-3'>{{ ticket_status[0][0] }}</div>
                                <div class='col-sm-1'>Last Updated:</div> 
                                <div class='col-lg-3'>{{ ticket_status[0][1] }}</div>
                                <div class='col-sm-1'>New Status:</div> 
                                <div class='col-sm-2'>
                                    <select class="custom-select mr-sm-1" name='update_status' id="update_status">
                                        <option value="{{ current_ticket_status }}">Update Status...</option>
                                        {% for ticket_status in ticket_statuses %}
                                            <option value="{{ ticket_status.id }}">{{ ticket_status.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </li>
                        {% if (count_status-1) != 0 %}
                        <li class="list-group-item">
                            <div class='row'><div class='col-lg-4'>Previous Statuses:</div></div>
                            {% for i in range(count_status-1) %}
                            <div class='row'>
                                <div class='col-sm-1'>Status:</div> 
                                <div class='col-lg-4'>{{ ticket_status[i+1][0] }}</div>
                                <div class='col-sm-1'>Updated:</div> 
                                <div class='col-lg-4'>{{ ticket_status[i+1][1] }}</div>
                            </div>
                            {% endfor %}
                        </li>
                        {% endif %}
                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-sm-1'>Requested Priority:</div> 
                                <div class='col-sm-1'>
                                    <input readonly class='form-control' type="requested_priority" name="requested_priority" id="requested_priority" value='{{ ticket.requested_pri.priority_decoded }}'></input>
                                </div>
                            
                                <div class='col-sm-2'>Assigned Priority:</div> 
                                <div class='col-sm-3'>
                                    <select class="custom-select mr-sm-1" name='assigned_priority' id="assigned_priority">
                                        {% if ticket.assigned_pri != None %}
                                            <option value="{{ ticket.assigned_pri.id }}">{{ ticket.assigned_pri.priority_decoded }}</option>
                                            {% else %}
                                            <option value="">Assign a Priority</option>
                                        {% endif %}
                                        {% for priority in priorities %}
                                            <option value="{{ priority.id }}">{{ priority.priority_decoded }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </li>
                        
                        <li class="list-group-item">
                            <div class='row'>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-sm'>
                                    <button type="submit" class="btn btn-success" value='{{ ticket.id }}'>
                                        <span aria-hidden="true">Save</span>
                                    </button> 
                                    <a type="submit" class="btn btn-info" href='/tickets'>
                                        <span aria-hidden="true">Exit</span>
                                    </a> 
                                </div>
                            </div>
                        </li>


                    </div>
                    </form>

                    {% else %}

                    <!-- Content Row -->
                    <div class="row">
                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-sm-1'>ID:</div> 
                                <div class='col-sm-1'>
                                    <input readonly class='form-control' type="ticket_id" name="ticket_id" id="ticket_id" value='{{ ticket.id }}'></input>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-sm-1'>Title:</div> 
                                <div class='col-sm-5'>
                                    <input readonly class='form-control' type="ticket_title" name="ticket_title" id="ticket_title" value="{{ ticket.title }}"></input>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-sm-1'>Overview:</div> 
                                <div class='col-lg-10'>
                                    <textarea readonly class='form-control' type="ticket_overview" name="ticket_overview" id="ticket_overview" rows='2'>{{ ticket.overview }}</textarea>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-sm-1'>Special Requirements:</div> 
                                <div class='col-lg-10'>
                                    <textarea readonly class='form-control' type="special_requirements" name="special_requirements" id="special_requirements" rows='2'>{{ ticket.special_requirements }}</textarea>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-sm-1'>Owner:</div> 
                                <div class='col-sm-2'>
                                    <input readonly class='form-control' type="owner_name" name="owner_name" id="owner_name" value="{{ ticket.owner_user.first_name }} {{ ticket.owner_user.last_name }}"></input>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-sm-1'>Assigned Developer:</div> 
                                <div class='col-sm-2'>
                                    <select class="custom-select mr-sm-1" name='assigned_user' id="assigned_user">
                                        {% if ticket.assigned_user != None %}
                                            <option value="{{ ticket.assigned_user.id }}">{{ ticket.assigned_user.first_name }} {{ ticket.assigned_user.last_name }}</option>
                                            {% else %}
                                            <option value="">Developer Not Assigned</option>
                                        {% endif %}
                                        
                                    </select>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-sm-1'>Task Review:</div> 
                                <div class='col-sm-10'>
                                    <textarea readonly class='form-control' type="task_review" name="task_review" id="task_review" row='3' value=""></textarea>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-sm-1'>Current Status:</div> 
                                <div class='col-lg-3'>{{ ticket_status[0][0] }}</div>
                                <div class='col-sm-1'>Last Updated:</div> 
                                <div class='col-lg-3'>{{ ticket_status[0][1] }}</div>
                            </div>
                        </li>
                        {% if (count_status-1) != 0 %}
                        <li class="list-group-item">
                            <div class='row'><div class='col-lg-4'>Previous Statuses:</div></div>
                            {% for i in range(count_status-1) %}
                            <div class='row'>
                                <div class='col-sm-1'>Status:</div> 
                                <div class='col-lg-4'>{{ ticket_status[i+1][0] }}</div>
                                <div class='col-sm-1'>Updated:</div> 
                                <div class='col-lg-4'>{{ ticket_status[i+1][1] }}</div>
                            </div>
                            {% endfor %}
                        </li>
                        {% endif %}
                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-sm-1'>Requested Priority:</div> 
                                <div class='col-sm-1'>
                                    <input readonly class='form-control' type="requested_priority" name="requested_priority" id="requested_priority" value='{{ ticket.requested_pri.priority_decoded }}'></input>
                                </div>
                            
                                <div class='col-sm-2'>Assigned Priority:</div> 
                                <div class='col-sm-3'>
                                    <select class="custom-select mr-sm-1" name='assigned_priority' id="assigned_priority">
                                        {% if ticket.assigned_pri != None %}
                                            <option value="{{ ticket.assigned_pri.id }}">{{ ticket.assigned_pri.priority_decoded }}</option>
                                            {% else %}
                                            <option value="">Priority Not Assigned</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                        </li>
                        
                        <li class="list-group-item">
                            <div class='row'>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class='row'>
                                <div class='col-sm'>
                                    <a type="submit" class="btn btn-info" href='/tickets'>
                                        <span aria-hidden="true">Exit</span>
                                    </a> 
                                </div>
                            </div>
                        </li>


                    </div>
                    
                    {% endif %}

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-6 mb-4">

                        </div>

                        <div class="col-lg-6 mb-4">

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="dashboard/login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="static/vendor/chart.js/Chart.min.js"></script>


</body>
{% endblock %}